@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.gold {
  @apply bg-red-500;
}

.sale {
  @apply bg-slate-700 absolute top-0 right-1 p-1;
}

.row {
  @apply flex flex-wrap py-4 items-end;
}

.btn {
  @apply bg-transparent text-slate-100 rounded-lg border p-2;
}

.w-90 {
  @apply w-[90%];
}

@media only screen and (min-width: 720px) {
  .prod:hover .btn {
    @apply opacity-100 translate-y-12 transition-all duration-500;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Animation for offers sections */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out;
}
